
body { padding-top: 40px; 
/*background-color:#057D9F;*/}
.btn-boogie{
	background-color:#BEF56E;}
.btn-margin{
	margin-top:5px;
	margin-bottom:5px;}
.featurette-divider {
	margin: 50px 0; /* Space out the Bootstrap <hr> more */}
	